.slider .indicators .indicator-item.active{
	background-color: rgba(201, 202, 201, 0.8)!important;
}

.slider .indicators .indicator-item {
    bottom: 60px;
    z-index: 7;
}

.box-cap {
	position: absolute!important;
    top: 161px!important;
    left: 263px!important;
    background-color: rgba(250, 0, 0, 0.8);
    border-top: 6px solid rgba(80, 79, 83, 0.8);
    width: 846px!important;
    height: 180px;
    line-height: 250%; 
    text-align: center;
    font-family: 'Raleway';
}

.slidertext1{
	position: relative;
	top: 50px;
	font-family: 'Raleway'; 
	font-size: 55px;
	font-weight: 900;
	word-spacing: 23px;
	padding: 3%;
}
.slidertext2{
	position: relative;
	top: 50px;
	padding: 10px!important;
	font-family: 'Raleway'; 
	font-size: 36px;
	word-spacing: 10px;
	font-weight: 100;
	padding: 3%;
}